@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme inline {
  --font-main: var(--font-dm-sans);
  --border-radius-lg:
    var(--radius), --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);
}

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
  content: "";
}
